.edit-container{
  display: flex;
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  width: 66%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

#edit-question {
  background-color: white;
  border: 1px solid black;
}

/* .edit-container > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
} */


